<div class="template template-child">
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a data-toggle="collapse" href="#collapse-child" class="collapse-toggle">
            Child View
          </a>
        </div>
      </div>
      <div id="collapse-child" class="panel-collapse collapse in">
        <div class="panel-body">
          <button class="btn btn-default render-child" type="submit">Render Child</button>
          {{moment}}
        </div>
      </div>
    </div>
  </div>
</div>
