<div class="template template-form">
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a data-toggle="collapse" href="#collapse-form" class="collapse-toggle">
            Form View
          </a>
        </div>
      </div>
      <div id="collapse-form" class="panel-collapse collapse in">
        <div class="panel-body">
          <form id="form">
            <div class="form-group">
              <div data-editors="name"></div>
            </div>
            <div class="form-group">
              <div data-editors="population"></div>
            </div>
            <button type="submit" class="btn btn-default" data-i18n="territory.submit"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
